body {
  background: #ddd;
}

.box {
  background-color: #ffffff;
}

/* clearfix 클래스명을 가진 요소 다음에 가상 요소 설정 */
.clearfix::after::selection {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}
.right {
  background-color: black;
  float: right;
}
